#game-board {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.game-square {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}